lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

/node_modules

pids
logs
results

npm-debug.log

.DS_Store

/.idea
/*.iml

.sass-cache/
/public/widgets/responsive/dist/
/public/assets/dist
/public/assets/images/sprites-*.png

/public/onboarding/dist
/public/onboarding/img/sprites-*.png
